body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
#container{
    width: 400px;
    box-shadow:   5px 5px blue, 10px 10px red, 15px 15px green, 20px 20px yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image:linear-gradient(to right top, #0fedf0, #00d5ff, #00b4ff, #1b83ff, #c412eb);
height: 200px;
}
button{
    width: 50px;
    height: 50px;
    margin:10px;
    }
    button:hover{

    }
    
    #purple__btn{
        background-color: purple;
    }
    
    #green__btn{
        background-color: green;
    }
    
    #yellow__btn{
        background-color: yellow;
    }
    

}